.Back {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.747);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.firstTeam {
    height: 30vh;
    width: 40vw;
    background-color: rgba(109, 35, 35, 0.452);
    margin-bottom: 20px;
}

.secondTeam {
    height: 30vh;
    width: 40vw;
    background-color: rgba(46, 31, 100, 0.473)
}

h3 {
    font-family: "Zelek";
    color: rgba(0, 217, 255, 0.432);
    font-size: 3dvh;
}

.chat-message {
    color: #ffffff;
}