html {
    height: 100%;
}


body {
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.title {
    font-family: "Zelek";
    color: rgb(0, 255, 255);
    font-size: 7vw;
    text-shadow: 0px 0px 3px #00aeff;
    text-align: center;
    position: relative;
    text-shadow: 0px 0px 3px #00aeff;
    animation: glitch1 0.5s infinite;
}

.content {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 0.25em rgba(0, 0, 25, 0.25);
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 4vw;
    margin-top: 0;
    position: fixed;
    top: 70vh;
    text-align: center;
    min-height: 30dvh;
    max-height: 30dvh;
    max-width: 40dvh;
    width: 50dvw;
}

.input-form {
    font-size: 3dvh;
}
.input-form input {
    text-align: center;
    width: 90%;
    height: 3dvh;
    padding: 0;
    border-radius: 10vw;
    border: 0.4vh solid rgb(70, 108, 134);
    font-size: 2vh;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #ffffff;
    background: none;
 
    margin-top:1dvh;
}
.input-form input:focus {
    outline: none;
}

.input-form .password-input-container {
    position: relative;
}

.input-form .show-password-button {
    position: absolute;
    display: inline;
    top: 3dvh;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.5vh;
}

.input-form input[type="password"] {
    width: 90%;
}

.eyeIcon {
    width: 1dvw;
}

.input-form input:hover {
    border: 0.4vh solid #61dafb;
}
.input-form button{
    font-family: Zelek;
    padding: 1.5dvh;
    text-align: center;
    font-size: 1dvh;
    color: #27cee9;
    background: none;
    outline: none;
    border: none;
}
.input-form button:hover {
    text-shadow: 0px 0px 3px #00aeff;
    color: #27cee9;
    border-width: 0.6dvh 0.6dvh;
    border-radius: 0;
    filter: contrast(30);
    border-color: #27cee9;
}
.PaswordRecovery{
    transform: translateY(-40%);
}.recoveryCode{
    transform: translateY(-100%);
}.RecoveryButton{
    transform: translateY(-130%);
}
.password,.RecoveryButton2{
    transform: translateY(-210%);
}

h1 {
    font-family: "Zelek";
    color: rgb(0, 217, 255);
    text-shadow: 0px 1vh 4vh #00aeff;
    font-size: 1.5dvw;
}
.PasswordRecovery {
    margin: -2dvh;
}


.App-header {
    overflow: hidden;
    height: 7dvh;
    padding: 0px 1vw;
    color: white;
    box-shadow: 0px 0.3dvh 1dvh black;
    background-color: rgba(0, 0, 0, 0.4);
}

.App-header button {
    font-family: Zelek;
    padding: 1% 1%;

    text-align: center;
    font-size: 2dvh;
    border: none;
    background: none;
}

.App-header button:hover {
    color: none;
    filter: contrast(30);
    border-color: #27cee9;
    clip-path: polygon(100% 0, 100% 50%, 85% 100%, 0 100%, 0 0);
    border-radius: 0;
    border-width: 0.4dvh 0.4dvh;
}

.App-header-Leave {
    font-family: Zelek;
    background-color: #86263e;
    padding: 10px;
    margin: 2px;
    text-align: center;
    font-size: 2.5dvh;
    border: none;
    background: none;
}

.TEST {
    color: rgba(211, 28, 28, 0.13);
    padding: 10px;
    height: 54px;
    font-size: 20px;
    outline: none;
    border-radius: 11px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 5px solid rgb(0, 217, 255);
}

.header-right {
    float: right;
    padding: 1dvh;
    width: auto;
    color: #fff;
    font-size: 20px;
    outline: none;
    border-radius: 11px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 5px solid rgb(0, 217, 255);
}

.header-right:hover {
    color: #61dafb;
    border: 5px solid #691e6c;
}

.App-link {
    color: #61dafb;
}

@font-face {
    font-family: Zelek;
    src: url(../public/assets/fonts/NeZelek.ttf);
}