html {
  height: 100%;
  overflow: hidden;
}

body{
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("assets/image/giff23.gif");
  max-zoom: 50%;
}

.Main {
  animation: slideButton 2s ease-in-out forwards;
  top: 45dvh;
  width: 8dvw;
  font-size: 6dvw;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
}

.Main button {
  margin:  1em 0px;
  font-family: Zelek;
  width: 8dvw;
  height: 10dvh;
  text-align: left;
  font-size: 0.3em;
  width: 120%;
  color: none;
  background: none;
  outline: none;
  border: none;
}

.Main button:hover {
  text-align: left;
  color: none;
  border-width: 0.6dvh 0.6dvh;
  border-radius: 0;
  
  filter: contrast(30);
  border-color: #27CEE9;
  box-shadow: inset 0px 0px 30px rgba(0, 0, 0);
  clip-path: polygon(100% 0, 100% 50%, 85% 100%, 0 100%, 0 0);

}

h2 {
  position: absolute;
  font-family: "Zelek";
  top: 13dvh;
  font-size: 4dvw;
  color: rgb(0, 217, 255);
  text-shadow: 5px 5px 10px #000;
  animation: slideRight 2s ease-in-out forwards, glitch1 0.5s infinite;
}

.slide-in {
  background-image: url("assets/image/Slide.gif");
  background-size: cover; /* Масштабирование изображения, чтобы оно заполнило блок */
  background-position: center;
  left: 20dvw;
  animation: slideIn 3s ease-in-out forwards;
  max-width: 40dvh;
  width: 50dvw;
  background-repeat: no-repeat;
 position: absolute;
}

.b-marquee--rtl {
  position: fixed;
  color: #028dff;
  font-size: 1vw;
  font-family: Zelek;
   width: 250vw; 
  text-transform: uppercase;
  text-align: center;
  overflow:hidden;
}

.b-marquee--rtl .b-marquee__text {
  animation: animMarqueeRtl 30s linear infinite;
}


@keyframes animMarqueeRtl {
  0% {
    -webkit-transform: translateX(20%);
    transform: translateX(40%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}



@keyframes slideIn {
  0% {
    height: 0;
  }

  19%,
  21%,
  68%,
  70%,
  100% {
    height: 100%;
    filter: brightness(1);
  }

  20%,
  70% {
    height: 100vh;
    filter: brightness(2);
  }
}

@keyframes slideRight {
  0% {
    left: -100dvw;
  }

  100% {
    left: 15dvw;

  }
}

@keyframes slideButton {
  0% {
    left: -100dvw;
  }

  97% {
    left: -100dvw;
  }

  100% {
    left: 24%;

  }
}

@keyframes glitch1 {

  0%,
  100% {
    text-shadow: -0.5dvh -0.5dvh 0x #10726a,
      0.5dvh 0.5dvh 0 rgb(132, 0, 255);
  }

  25% {
    filter: brightness(1.2);
    text-shadow: 0.5dvh 0.5dvh 0 #10726a,
      -0.5dvh -0.5dvh 0 rgb(132, 0, 255);
  }

  50% {
    text-shadow: 0.5dvh -0.5dvh 0 #10726a,
      -0.5dvh 0.5dvh 0 rgb(132, 0, 255);
  }

  75% {
    filter: brightness(0.8);
    text-shadow: 0.5dvh 0.5dvh 0 #10726a,
      0.5dvh -0.5dvh 0 rgb(132, 0, 255);
  }
}