.popUpMenu{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    opacity: 1;
}

.popUpMenu:active{
    opacity: 0;
}

.popUpMenu__content{
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(26, 21, 21);
}   