.chat {
    position: absolute;
    font-size: 1dvw;
    bottom: 2dvh;
    right: 2dvw;
    border: 0.2vi solid rgba(0, 0, 0, 0.7);
    border-bottom: none;
    width: 20vw;
    height: 40dvh;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1;
}

.chatComponent {
    bottom: 0;
    right: 4dvw;
    position: fixed;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
}

.chat-toggle{
    background-color: #007bff;
   border: none;
    color: white;
    font-size: 0.6dvw;
    width: 2dvw;
    padding: 0;
    height: 2.5dvh;
    font-family: Zelek;
    margin-bottom: 1dvw;
}
.chat-toggle:focus{
    outline: none;
}
.chat-messages {
    min-height: 93%;
    max-height: 93%;
    overflow: auto;
    word-wrap: break-word;
    display: block;
    flex-direction: column;
}

.chat-messages__content {
    padding: 1px;
}

.chat-message {
    margin-top: 2vh;
    padding: 2px;
    margin-top: 2vh;
    padding: 0.2dvh;
}

.timestamp {
    margin-right: 0.5dvw;
}


.chat__message_black {
    border-color: #000;
}

.chat__message_blue {
    border-color: blue;
}

.chat__message_green {
    border-color: green;
}

.chat__message_red {
    border-color: red;
}

.chat-input {
    min-height: 6dvw;
}

.chat-form__input,
.chat-form__submit {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1dvw;
    background: rgba(18, 74, 138, 0.541);
    border: none;
    height: 3vh;
    position: absolute;
    width: 70%;
    color: white;
}

.chat-form__submit {
    vertical-align: middle;
    background: rgba(29, 124, 231, 0.541);
    right: 0;
    width: 30%;
}

.chat-form__input:focus {
    outline: none;
}

#scroll {
    overflow: scroll;
}


.chat-messages::-webkit-scrollbar {
    width: 2dvh;
}

.chat-messages::-webkit-scrollbar-thumb {
    background: rgba(29, 124, 231, 0.541);
    width: 10dvw;
    border-radius: 3dvw;
}

.chat-messages::-webkit-scrollbar-track {
    background: rgba(44, 44, 44, 0.7);
    width: 10dvw;
}